*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing:border-box
}

body{
    font-family: "font-insaneburguer";
}

/*--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
------------------------------------------------CABEÇALHO-------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/

.secao-links-barra-pesquisa{
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 0rem;
}


header{
    background-color: #5A81FA;
    color: #ffffff;
}

header img{
    margin-right: 10%;
}
header h1{
    font-size: 60px;
    width: 40rem;
    margin: 8rem 0rem 0rem 10rem;
}

.titulo-imagem-cabecalho{
    width: 100%;
}

.titulo-texto{
    width: 70%;
    height: 10rem;
}

#input-barra-pesquisa {
    padding: 0.7rem 0rem 0.7rem 1rem;
    border-radius: 1rem;
    border: none;
    background: url(./src/images/icone-pesquisa-barra-pesquisa.png);
    background-repeat: no-repeat;
    background-position: 125px 5px;
    background-color: #A8B1CE;
}


header nav{
    text-align: right;
    width: auto;
    padding-right: 10%;
    
}
header a{
    font-family: 'font-montserrat';
    color: #000000;
    padding: 0rem 1rem 0rem 1rem;
}
header p{
    font-family: 'font-montserrat';
    font-size: 20px;
    margin: 1rem 0rem 0rem 10rem;
}
.secao-links-barra-pesquisa{
    background-color:#F2F5FF;
    font-weight: 200;
}

.titulo-imagem-cabecalho{
    display: flex;
}

/*---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Main--------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------*/

.imagens_metodos{

    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;

}

.ListaMetodos{

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10rem;
    margin-top: 5rem;
    text-align: center;

}

.imagemMétodo{

    padding-left: 10rem;
    position: relative;

}

.texto-metodo{

    margin-top: -2rem;
    margin-bottom: 2rem;

}

.tituloIst{

    font-size: 4rem;
    margin-bottom: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;

}

.BoxIst{

    height: 300px;
    width: 450px;
    background-color: #5A81FA;
    margin-bottom: 2rem;
    margin-right: 5rem;
    align-items: center;
    border-radius: 16px;
    margin-left: 4.5rem;

}

.ISTS{

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.tituloISTS{

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;

}

/*---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Rodapé--------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------*/

footer{
    margin-top: 2rem;
    background-color: #5A81FA;
    color: #ffffff;
}

.div-rodape{
    width: 80%;
    margin: auto;
    text-align: justify;
}

footer h2{
    font-size : 40px;
    text-align: center;
    padding-top: 1rem;
}

#p1-rodape{
    margin-top: 1rem;
}

#p2-rodape{
    padding-bottom: 3rem;
}
.texto-rodape{
font-family: 'font-montserrat';
}
