@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset das configurações padrões do site*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Fonte de títulos*/
@font-face {

    font-family: "Insanibu";
    src: url("./fonts/Insanibu/Insanibu.ttf");
}
/*Montserrat medium*/
@font-face {

    font-family: "MontMedium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
}

body {

    background-color: #F2F5FF;
    font-family: Arial, Helvetica, sans-serif;
    color: #343434;
    font-family: "MontMedium";
    text-align: justify;
}
